<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<root>
    <id>4108</id>
    <restaurant_id>4172</restaurant_id>
    <active>true</active>
    <currency>USD</currency>
    <category>
        <id>14937</id>
        <menu_id>4108</menu_id>
        <name>Pizza</name>
        <active>true</active>
        <active_begin/>
        <active_end/>
        <active_days>127</active_days>
        <picture_id>2939</picture_id>
        <item>
            <id>58424</id>
            <menu_category_id>14937</menu_category_id>
            <name>Pizza Margherita</name>
            <description>(tomato sauce, cheese)</description>
            <price>7</price>
            <active>true</active>
            <active_begin/>
            <active_end/>
            <active_days>127</active_days>
            <extras>
                <menu_item_order_types>pickup</menu_item_order_types>
                <menu_item_order_types>delivery</menu_item_order_types>
                <menu_item_kitchen_internal_name>Pizza Margherita Internal Name</menu_item_kitchen_internal_name>
            </extras>
            <sizes>
                <id>37086</id>
                <menu_item_id>58424</menu_item_id>
                <name>Small</name>
                <price>0</price>
                <default>true</default>
                <group>
                    <id>16978</id>
                    <menu_id>4108</menu_id>
                    <name>Extra Toppings (Small)</name>
                    <required>false</required>
                    <force_min>1</force_min>
                    <force_max>1</force_max>
                    <allow_quantity>false</allow_quantity>
                    <option>
                        <id>51188</id>
                        <option_group_id>16978</option_group_id>
                        <name>Corn</name>
                        <price>0.7</price>
                        <default>false</default>
                        <extras/>
                    </option>
                    <option>
                        <id>51189</id>
                        <option_group_id>16978</option_group_id>
                        <name>Extra mozzarella</name>
                        <price>1.2</price>
                        <default>false</default>
                        <extras>
                            <menu_option_kitchen_internal_name>Extra Mozzarella Internal Name</menu_option_kitchen_internal_name>
                        </extras>
                    </option>
                </group>
                <extras>
                    <menu_item_nutritional_value>
                        <id>9</id>
                        <value>123</value>
                    </menu_item_nutritional_value>
                    <menu_item_nutritional_value>
                        <id>10</id>
                        <value>12</value>
                    </menu_item_nutritional_value>
                    <menu_item_nutritional_value>
                        <id>11</id>
                        <value>12</value>
                    </menu_item_nutritional_value>
                    <menu_item_nutritional_value>
                        <id>12</id>
                        <value>12</value>
                    </menu_item_nutritional_value>
                    <menu_item_nutritional_value>
                        <id>13</id>
                        <value>12</value>
                    </menu_item_nutritional_value>
                    <menu_item_nutritional_value>
                        <id>14</id>
                        <value>12</value>
                    </menu_item_nutritional_value>
                    <menu_item_nutritional_value_size>per_100g</menu_item_nutritional_value_size>
                </extras>
            </sizes>
            <sizes>
                <id>37087</id>
                <menu_item_id>58424</menu_item_id>
                <name>Large</name>
                <price>2</price>
                <default>false</default>
                <group>
                    <id>16979</id>
                    <menu_id>4108</menu_id>
                    <name>Extra Toppings (Large)</name>
                    <required>false</required>
                    <force_min>1</force_min>
                    <force_max>1</force_max>
                    <allow_quantity>false</allow_quantity>
                    <option>
                        <id>51190</id>
                        <option_group_id>16979</option_group_id>
                        <name>Corn</name>
                        <price>1.2</price>
                        <default>false</default>
                        <extras/>
                    </option>
                    <option>
                        <id>51191</id>
                        <option_group_id>16979</option_group_id>
                        <name>Extra mozzarella</name>
                        <price>1.7</price>
                        <default>false</default>
                        <extras/>
                    </option>
                </group>
                <extras>
                    <menu_item_nutritional_value>
                        <id>9</id>
                        <value>323</value>
                    </menu_item_nutritional_value>
                    <menu_item_nutritional_value>
                        <id>10</id>
                        <value>32</value>
                    </menu_item_nutritional_value>
                    <menu_item_nutritional_value>
                        <id>11</id>
                        <value>32</value>
                    </menu_item_nutritional_value>
                    <menu_item_nutritional_value>
                        <id>12</id>
                        <value>32</value>
                    </menu_item_nutritional_value>
                    <menu_item_nutritional_value>
                        <id>13</id>
                        <value>32</value>
                    </menu_item_nutritional_value>
                    <menu_item_nutritional_value>
                        <id>14</id>
                        <value>32</value>
                    </menu_item_nutritional_value>
                    <menu_item_nutritional_value_size>per_100g</menu_item_nutritional_value_size>
                </extras>
            </sizes>
        </item>
        <item>
            <id>58425</id>
            <menu_category_id>14937</menu_category_id>
            <name>Pizza Prosciutto</name>
            <description>(tomato sauce, cheese, ham)</description>
            <price>8</price>
            <active>true</active>
            <active_begin/>
            <active_end/>
            <active_days>127</active_days>
            <sort>0</sort>
            <extras/>
            <sizes>
                <id>37088</id>
                <menu_item_id>58425</menu_item_id>
                <name>Small</name>
                <price>0</price>
                <default>true</default>
                <group>
                    <id>16978</id>
                    <menu_id>4108</menu_id>
                    <name>Extra Toppings (Small)</name>
                    <required>false</required>
                    <force_min>1</force_min>
                    <force_max>1</force_max>
                    <allow_quantity>false</allow_quantity>
                    <option>
                        <id>51188</id>
                        <option_group_id>16978</option_group_id>
                        <name>Corn</name>
                        <price>0.7</price>
                        <default>false</default>
                        <extras/>
                    </option>
                    <option>
                        <id>51189</id>
                        <option_group_id>16978</option_group_id>
                        <name>Extra mozzarella</name>
                        <price>1.2</price>
                        <default>false</default>
                        <extras/>
                    </option>
                </group>
            </sizes>
            <sizes>
                <id>37089</id>
                <menu_item_id>58425</menu_item_id>
                <name>Large</name>
                <price>2</price>
                <default>false</default>
                <group>
                    <id>16979</id>
                    <menu_id>4108</menu_id>
                    <name>Extra Toppings (Large)</name>
                    <required>false</required>
                    <force_min>1</force_min>
                    <force_max>1</force_max>
                    <allow_quantity>false</allow_quantity>
                    <option>
                        <id>51190</id>
                        <option_group_id>16979</option_group_id>
                        <name>Corn</name>
                        <price>1.2</price>
                        <default>false</default>
                        <extras/>
                    </option>
                    <option>
                        <id>51191</id>
                        <option_group_id>16979</option_group_id>
                        <name>Extra mozzarella</name>
                        <price>1.7</price>
                        <default>false</default>
                        <extras/>
                    </option>
                </group>
            </sizes>
        </item>
        <group>
            <id>16977</id>
            <menu_id>4108</menu_id>
            <name>Crust</name>
            <sort>0</sort>
            <required>true</required>
            <force_min>1</force_min>
            <force_max>1</force_max>
            <allow_quantity>false</allow_quantity>
            <option>
                <id>51186</id>
                <option_group_id>16977</option_group_id>
                <name>Fluffy</name>
                <price>0</price>
                <default>true</default>
                <extras/>
            </option>
            <option>
                <id>51187</id>
                <option_group_id>16977</option_group_id>
                <name>Crispy</name>
                <price>0</price>
                <default>false</default>
                <extras/>
            </option>
        </group>
    </category>
    <category>
        <id>14938</id>
        <menu_id>4108</menu_id>
        <name>Pasta</name>
        <active>true</active>
        <active_begin/>
        <active_end/>
        <active_days>127</active_days>
        <sort>0</sort>
        <picture_id>2967</picture_id>
        <item>
            <id>58426</id>
            <menu_category_id>14938</menu_category_id>
            <name>Spaghetti Bolognese</name>
            <description/>
            <price>9</price>
            <active>true</active>
            <active_begin/>
            <active_end/>
            <active_days>127</active_days>
            <sort>0</sort>
            <extras>
                <sku></sku>
                <menu_item_allergens_id>1</menu_item_allergens_id>
                <menu_item_allergens_id>3</menu_item_allergens_id>
                <menu_item_allergens_id>7</menu_item_allergens_id>
                <menu_item_allergens_id>8</menu_item_allergens_id>
                <menu_item_allergens_id>4</menu_item_allergens_id>
                <menu_item_allergens_value>
                    <id>1</id>
                    <name>Milk</name>
                </menu_item_allergens_value>
                <menu_item_allergens_value>
                    <id>3</id>
                    <name>Eggs</name>
                </menu_item_allergens_value>
                <menu_item_allergens_value>
                    <id>7</id>
                    <name>Shellfish</name>
                </menu_item_allergens_value>
                <menu_item_allergens_value>
                    <id>8</id>
                    <name>Soybeans</name>
                </menu_item_allergens_value>
                <menu_item_allergens_value>
                    <id>4</id>
                    <name>Peanuts</name>
                </menu_item_allergens_value>
            </extras>
        </item>
        <item>
            <id>58427</id>
            <menu_category_id>14938</menu_category_id>
            <name>Spaghetti Frutti di Mare</name>
            <description>(with sea food)</description>
            <price>12</price>
            <active>true</active>
            <active_begin/>
            <active_end/>
            <active_days>127</active_days>
            <sort>0</sort>
            <extras/>
        </item>
    </category>
</root>
